@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.sc {
  padding-top: 120px;
}

.field {
  width: 90%;
  max-width: 1312px;
  margin: 0 auto;
}

.fl {
  display: flex;
}

.header {
  background-color: #000000;
}
.header__container {
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__left, .header__list {
  gap: 32px;
  align-items: center;
}
.header__logo {
  align-items: center;
  font-size: 1.5rem;
}
.header__logo > img {
  width: 1.5rem;
}
.header__link {
  font-size: 16px;
}
.header__logo, .header__link {
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;
  color: #ffffff;
}
.header__list {
  list-style: none;
}
.header__buttons {
  align-items: center;
  gap: 1.5rem;
}

.banner {
  background-image: url(../img/bannner-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 57px;
}
.banner__container {
  text-align: center;
  margin-bottom: 100px;
}
.banner__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  max-width: 936px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 24px;
}
.banner__subtitle {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  margin-bottom: 52px;
}
.banner__logos {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  align-items: center;
}
.banner__logos__images {
  width: 80%;
}

.btn {
  display: inline-block;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;
  color: #ffffff;
}

.btn--blue {
  padding: 12px 24px;
  border-radius: 10px;
  background-color: #146EF5;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.card {
  position: relative;
  flex: 1 1 30%;
  aspect-ratio: 3/4;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.25s ease;
  cursor: pointer;
}
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
  z-index: 1;
  pointer-events: none;
  transition: background 0.25s ease;
}
.card:hover::before {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}
.card:hover {
  transform: translateY(-4px);
}
.card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
  position: relative;
  z-index: 0;
}
.card:hover .card__image {
  transform: scale(1.03);
}
.card__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 32px;
  padding-right: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateY(0);
  transition: transform 0.3s ease;
  z-index: 2;
}
.card__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
}
.card__description, .card__link-gs {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s;
  height: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
}
.card__description {
  margin-bottom: 24px;
}
.card__links__container {
  align-items: center;
  position: relative;
}
.card__link-gs {
  align-items: center;
  line-height: 1;
  text-decoration-line: underline;
  text-decoration-color: #80786a;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}
.card__link-gs::after {
  content: " ›";
  font-size: 2.5em;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 200;
}
.card__title {
  margin-bottom: -21px;
}
.card:hover .card__title {
  margin-bottom: 8px;
}
.card:hover .card__description, .card:hover .card__link-gs {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  height: auto;
}
.card__desc-icon {
  position: absolute;
  right: 32px;
  bottom: 40px;
  width: 32px;
  z-index: 10;
}
.card__desc-icon.hover-icon {
  opacity: 0;
}
.card:hover .card__desc-icon.hover-icon {
  opacity: 1;
}

@media (max-width: 1200px) {
  .card {
    flex: 1 1 45%;
    aspect-ratio: 1/1.5;
  }
}
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
  .card {
    aspect-ratio: 1/1.5;
  }
}
.ai-agents {
  margin-top: 120px;
}
.ai-agents__title {
  margin-bottom: 32px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
}

.accel {
  padding-bottom: 120px;
}
.accel__container {
  gap: 40px;
}
.accel__left {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.accel__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #222222;
}
.accel__item_container {
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 30%;
}
.accel__item {
  padding: 24px 0;
  border-top: 2px solid #eeeeee;
}
.accel__item:last-child {
  padding-bottom: 0;
}
.accel__item-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #222222;
}
.accel__item-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #222222;
  max-width: 330px;
}
.accel__item--disabled .accel__item-title {
  opacity: 0.5;
}
.accel__right {
  flex: 1;
}
.accel__image {
  width: 100%;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .accel__item_container {
    padding-right: 0;
  }
  .accel__container {
    flex-direction: column;
  }
}

.trusted {
  padding-bottom: 120px;
  background-color: #eeeeee;
}
.trusted__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
  color: #222222;
  max-width: 936px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.trusted__review {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  color: #222222;
  margin-bottom: 52px;
}
.trusted__review a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}
.trusted__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.trusted__card:not(.trusted__card--big) {
  aspect-ratio: 0.8/1;
}
.trusted__card {
  border-radius: 16px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  color: #000;
}
.trusted__card h2 {
  font-size: 42px;
  margin: 10px 0 5px;
  font-weight: 700;
}
.trusted__card p {
  margin: 0;
  font-size: 16px;
  opacity: 0.9;
}
.trusted__card__logo {
  height: 32px;
  margin-bottom: auto;
}
.trusted__card__author {
  margin-top: auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #222222;
  padding-top: 32px;
}
.trusted__card__author span {
  font-weight: normal;
}
.trusted__card--purple {
  background: #c7a7ff;
}
.trusted__card--white {
  background: #f7f7f7;
}
.trusted__card--yellow {
  background: #d8f14a;
}
.trusted__card--img {
  position: relative;
  color: #fff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}
.trusted__card--img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
  border-radius: 16px;
}
.trusted__card--img > * {
  position: relative;
  z-index: 2;
}
.trusted__card--big {
  grid-column: 2/span 2;
}
.trusted__card--big .trusted__card-text {
  margin: 15px 0;
  max-width: 450px;
  line-height: 1.5;
}
@media (max-width: 950px) {
  .trusted__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .trusted__card--big {
    grid-column: span 2;
  }
}
@media (max-width: 600px) {
  .trusted__cards {
    grid-template-columns: 1fr;
  }
  .trusted__card--big {
    grid-column: span 1;
    height: auto;
  }
}

.hi-work {
  padding-bottom: 120px;
}
.hi-work__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
  color: #222222;
  max-width: 936px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.hi-work__review {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  color: #222222;
  margin-bottom: 52px;
}
.hi-work__img {
  width: 100%;
}
.hi-work__cards {
  gap: 32px;
  margin-top: 32px;
}
.hi-work__card {
  border-top: 2px solid #eeeeee;
  padding-top: 24px;
  opacity: 0.5;
}
.hi-work__card--active {
  opacity: 1;
}
.hi-work__card-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
  color: #222222;
  max-width: 936px;
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: left;
}
.hi-work__card-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #222222;
}

.built__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
  color: #222222;
  max-width: 936px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.built__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  color: #222222;
  margin-bottom: 32px;
}
.built__review {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  color: #222222;
  margin-bottom: 52px;
}
.built__review a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}
.built__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.built__card {
  background-color: #eeeeee;
  border-radius: 12px;
  padding: 32px;
}
.built__card h3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
  color: #222222;
  max-width: 936px;
  margin: 0 auto;
  font-weight: 700;
  text-align: left;
  margin-bottom: 12px;
}
.built__card p {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #222222;
}
.built__card:hover {
  background-color: #146EF5;
  border-radius: 12px;
}
.built__card__icon {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 28px;
}

.realm__container {
  background-image: url(../img/realm/realm-bg.png);
  background-size: 100% 100%;
  border-radius: 12px;
  justify-content: space-between;
}
.realm__content {
  flex: 0.8;
  margin: 120px 80px;
}
.realm__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
}
.realm__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
  margin-bottom: 52px;
}
.realm__img-container {
  padding-top: 50px;
  flex: 1.2;
  position: relative;
}
.realm__side-img {
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 950px) {
  .realm__container {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }
  .realm__content {
    margin: 0 0 40px 0;
  }
  .realm__img-container {
    width: 100%;
    padding-top: 0;
    height: auto;
    position: relative;
  }
  .realm__side-img {
    position: static;
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 600px) {
  .realm__side-img {
    width: 100%;
  }
}

.future {
  padding-bottom: 100px;
}
.future__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;
}
.future__header .future__text {
  flex: 1;
}
.future__header .nav-buttons {
  display: flex;
  gap: 8px;
}
.future__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #222222;
  margin-bottom: 16px;
}
.future__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #222222;
  margin-bottom: 52px;
}
.future__cards {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
@media (max-width: 950px) {
  .future__cards {
    flex-direction: column;
  }
}
.future__card {
  flex: 1;
  padding: 24px;
  background-image: url(../img/future/card-bg.png);
  border-radius: 12px;
}
.future__card__inner {
  padding: 16px;
  background-color: #ffffff;
  border-radius: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.future__card__badge {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  color: #146EF5;
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
  padding: 2px 4px;
  background-color: rgba(20, 110, 245, 0.1);
  border-radius: 4px;
  margin-bottom: 16px;
}
.future__card__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #222222;
  margin-bottom: 32px;
}
.future__card__link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #222222;
  margin-top: auto;
  text-decoration: underline;
}
.future__card__link::after {
  content: " ›";
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  color: #222222;
  font-size: 1.5em;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 5px;
  display: inline-block;
}/*# sourceMappingURL=main.css.map */