.block {
  background-color: $color-white;
  border: 1px solid $color-black;
  padding: $padding-block;
  border-radius: 6px;
  position: relative;

  &--modifier {
    background-color: $color-modifier-bg;
  }

  &--label {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 5px;
    background-color: $color-primary;
    color: $color-white;
    font-family: $font-label;
  }

  &--image {
    width: 100%;
    margin-bottom: 12px;
  }

  &--head {
    text-transform: uppercase;
    font-size: 22px;
    font-family: $font-sans;
    margin-bottom: 12px;
  }

  &--description {
    font-size: 14px;
    line-height: 18px;
    font-family: $font-desc;
    margin-bottom: 12px;
  }

  .block-buttons {
    display: flex;
    justify-content: space-between;
    gap: $gap;
    margin-bottom: 12px;
  }
}
