.built {
  padding-bottom: $indent-lg;

  &__title {
    @include heading($font-color-dark, 48px);
    margin-bottom: 16px;
  }

  &__description {
    @include text-description($font-color-dark, 20px);
    margin-bottom: 32px;
  }

  &__review {
    @include text-description($font-color-dark, 20px);
    margin-bottom: 52px;

    a {
      color: inherit;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  &__card {
    background-color: $bg-gr-color;
    border-radius: 12px;
    padding: $indent-sm;

    h3 {
      @include heading($font-color-dark, 24px);
      font-weight: 700;
      text-align: left;
      margin-bottom: 12px;
    }

    p {
      @include side-description($font-color-dark, 18px)
    }
  }

  &__card:hover {
    background-color: $bg-bl-color;
    border-radius: 12px;
  }

  &__card__icon {
    background-color: $font-color-light;
    border-radius: 8px;
    padding: 14px;
    margin-bottom: 28px;
  }
}