.btn {
  display: inline-block;
  @include text-base;
}

.btn--blue {
  padding: 12px 24px;
  border-radius: 10px;
  background-color: $bg-bl-color;
}

.btn--white {
  padding: 12px 24px;
  border-radius: 10px;
  border: 1px solid $font-color-light;
}