.future {
  &__container {
    background-image: url(../img/realm/realm-bg.png);
    background-size: 100% 100%;
    border-radius: 12px;
    justify-content: space-between;
  }

  &__content {
    flex: 0.8;
    margin: $indent-lg 80px;
  }

  &__title {
    @include side-description($font-color-dark, 48px, left, 700);
    margin-bottom: 16px;
  }

  &__description {
    @include side-description($font-color-dark, 20px, left);
    margin-bottom: $indent-mds;
  }
}