.bg {}

.header {
  background-color: #000000;

  &__container {
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__left,
  &__list {
    gap: 32px;
    align-items: center;
  }

  &__logo {
    align-items: center;
    font-size: 1.5rem;
  }

  &__logo>img {
    width: 1.5rem;
  }

  &__link {
    font-size: 16px;
  }

  &__logo,
  &__link {
    @include text-base;
  }

  &__list {
    list-style: none;
  }

  &__buttons {
    align-items: center;
    gap: 1.5rem;
  }
}