// Кольори
$font-color-light: #ffffff;
$font-color-dark: #222222;
$bg-gr-color: #eeeeee;
$bg-bl-color: #146EF5;


// Шрифти
$font-inter: 'Inter', Arial, Helvetica, sans-serif;

// Відступи
$indent-lg: 120px;
$indent-md: 70px;
$indent-sm: 52px;